@import url( 'https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap' );

@import '../base/mixins';

.login-section {
	@include myAccountSection;

	&__form {
		flex-basis: 50%;
		padding-right: 101px;
		padding-left: 0 !important;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-top: 12%;
		form {
			border: none !important;
			padding-left: 0 !important;
			.form-notice {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 1rem 0;
				p {
					label {
						text-transform: unset;
						font-weight: 400;
					}
				}
				a {
					@include myAccountLinks;
				}
			}
			.form-row {
				transition: all 0.3s;
				label {
					// margin-bottom: -0.9rem;
					color: #222;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-transform: uppercase;
				}
				input {
					border: none;
					border-bottom: 1px solid #ddd;
					background-color: transparent;
				}
				&:hover {
					label {
						margin-bottom: 0;
					}
				}
				.show-password-input {
					top: -0.3rem !important;
				}
			}

			.woocommerce-form-login__submit {
				@include myAccountBtn;
			}
		}
		.register-notice {
			// align-self: flex-end;
			margin-top: 172px;
			a {
				@include myAccountLinks;
			}
		}
	}
}
.register-section {
	@include myAccountSection;
	display: none; /* defualt display */
	&__img {
		flex-basis: 50%;
		height: 100%;
	}
	&__form {
		flex-basis: 50%;
		padding-right: 101px;
		padding-left: 0 !important;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-top: 12%;
		form {
			border: none !important;
			padding-left: 0 !important;
			.form-notice {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 1rem 0;
				p {
					label {
						text-transform: unset;
						font-weight: 400;
					}
				}
				a {
					@include myAccountLinks;
				}
			}
			.form-row {
				transition: all 0.3s;
				label {
					color: #222;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-transform: uppercase;
				}
				input {
					border: none;
					border-bottom: 1px solid #ddd;
					background-color: transparent;
				}
				&:hover {
					label {
						margin-bottom: 0;
					}
				}
				.show-password-input {
					top: -0.3rem !important;
				}
			}

			.woocommerce-form-register__submit {
				@include myAccountBtn;
			}
			.woocommerce-privacy-policy-text {
				display: none !important;
			}

			.reg-names {
				display: flex;
				column-count: 1rem;
				justify-content: flex-start;
				align-items: center;
				p {
					flex-basis: 50%;
				}
			}
		}
		.login-notice {
			margin-top: 172px;
			a {
				@include myAccountLinks;
			}
		}
	}
}
