//--------------------------------------------------------------
// Gutenberg Styles
//--------------------------------------------------------------
.entry-content {
	/* Default width for non-aligned and centered items */
	> *:not( .alignwide ):not( .alignfull ):not( .alignleft ):not(
			.alignright
		) {
		@include text-page-container;
	}

	/* Wide width for items marked with .alignwide */
	.alignwide {
		@include container;
	}

	/* Full width for items marked with .alignfull */
	.alignfull {
		width: 100%;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Handling left alignment */
	.alignleft {
		float: left;
		margin-right: 2em;
	}

	/* Handling right alignment */
	.alignright {
		float: right;
		margin-left: 2em;
	}
}
